* {
    font-family: Impact, fantasy;
}
.g {
    display: grid;
    grid-template: 7vh 1fr 80px 60px / 1fr 300px 1fr;
    gap: 10px;
    grid-template-areas: 
        "n n n"
        ". i ."
        "op op op"
        "kd . rep"
    ;
    width: 50%;
    height: 30%;
    margin-left: 25%;
    margin-top: 10%;
    border: 0px solid black;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 0px 0px 6px black;
}
.i {
    border: 0px solid rgb(1, 67, 67);
    border-radius: 5px;
    text-align: center;
}
.imgi {
    border: 0px solid black;
    border-radius: 10000px;
    height: 300px;
    width: 300px;
}
.nik {
    grid-area: n;
    font-size: 3vh;
    padding: 10px;
}
.img {
    grid-area: i;
}
.kd {
    grid-area: kd;
    background-color: rgb(160, 198, 71);
}
.rep {
    grid-area: rep;
    background-color: rgb(117, 172, 0);
}
.op {
    grid-area: op;
    background-color: rgb(193, 193, 193);
}
.it {
    background-color: cadetblue;
    border: 0px solid black;
    border-radius: 5px
}
.kd p {
    padding: 10px;
}
.rep div {
    padding: 10px;
}