.g {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    gap: 10px;
}
.item {
    background-color: teal;
    border: 5px solid rgb(74, 88, 88);
    border-radius: 10px;
    min-height: 100px;
    text-align: center;
    font-family: Impact, fantasy;
    font-size: 50px;
}