body{
    margin: 0;
}
* {
    font-family: Impact, fantasy;
}
.g {
    display: inline-grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 5px;
    margin-top: 20%;
    margin-left: 42.5%;

}

.i {
    border: 0px solid rgb(1, 67, 67);
    border-radius: 5px;
    text-align: center;
    background-color: aquamarine;
    min-height: 70px;
}
.it {
    background-color: cadetblue;
    border: 0px solid black;
    border-radius: 5px
}

.ixo {
    border: 1px solid rgb(0, 0, 0);
    text-align: center;
    background-color: rgb(255, 255, 255);
    width: 98px;
    height: 98px;
}