* {
    font-family: Impact, fantasy;
}
.g {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(4, 1fr);
    gap: 10px;
}
.i {
    border: 0px solid rgb(1, 67, 67);
    border-radius: 5px;
    text-align: center;
    background-color: aquamarine;
    min-height: 70px;
}
.it {
    background-color: cadetblue;
    border: 0px solid black;
    border-radius: 5px
}

.w{
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: coral;

}
.h{
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 4;
    grid-column-end: 5;
    background-color: rgb(27, 115, 197);
}