.g {
    display: grid;
    grid-template: 75px 1fr 80px / 1fr 5fr 1fr;
    gap: 10px;
    min-height: 100vh;
    grid-template-areas: 
        "h h h"
        "n m a"
        "f f f"
    ;
}
.item {
    border: 0px solid rgb(1, 67, 67);
    border-radius: 5px;
    text-align: center;
}
.h {
    grid-area: h;
    background-color: yellow;
}
.m {
    grid-area: m;
    background-color: orange;
}
.n {
    grid-area: n;
    background-color: green;
}
.a {
    grid-area: a;
    background-color: brown;
}
.f {
    grid-area: f;
    background-color: blue;
}