.g {
    display: grid;
    grid-template-rows: 100px 1fr 80px;
    gap: 10px;
    min-height: 100vh;
}
.item {
    background-color: darkcyan;
    border: 0px solid rgb(1, 67, 67);
    border-radius: 5px;
    text-align: center;
}